.container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.form {
  max-width: 400px;
  margin: 150px auto;
  h1 {
    font-size: 28px;
    font-weight: 500;
  }
  button {
    margin-top: 10px;
  }
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #464646;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    font-size: 18px;
    &:focus {
      outline: 1px solid #00d8fe;
    }
  }
  &__text {
    font-size: 14px;
    color: #848484;
    a {
      opacity: 0.5;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__input {
    margin-bottom: 16px;
    &-error {
      color: red;
      font-size: 14px;
    }
  }
  &__radio {
    display: flex;
    margin: 0 15px 0 0;
    cursor: pointer;
    input {
      margin: 0 5px 0 0;
      &:focus {
        outline: 0px;
      }
    }
    &-group {
      display: flex;
      margin-bottom: 10px;
    }
  }
}